
#curMatch {
  width: 50px;
  color: #777;
}

#quality {
  display: none;
}

#quality .label {
  margin: 0 1px 0 1px;
}

#similarity {
  display: none;
}

.panel-primary > .panel-heading {
  height: 50px;
}

div.img-cont {
  position: relative;
  padding: 15px;
  height: calc(100vh - 200px);
}

div.img-cont img {
  position: absolute;
  max-width: calc(100% - 30px);
  max-height: calc(100% - 30px);
  margin: auto;
}

#img2 {
  max-height: calc(100% - 30vh - 30px);
}

div.img-cont div {
  position: absolute;
}

div.img-cont div.box {
  position:absolute;
  border:1px solid red;
  display:none;
}

div.img-cont div.box.selected {
  border:2px solid yellow;
}

canvas {
  display: none;
}

.pager {
  display: none;
  margin: 0 10px 0 10px;
}

.pager span a {
  color: white;
}


.jumbotron {
  width: calc(100% - 30px);
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
}

#description {
  top: calc(100% - 30vh);
  height: 30vh;
  overflow-y: auto;
}

#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
